<h1>something@mail.ru</h1>

<form action="/visit" method="POST">

	<textarea class="form-control" rows="3">печатаем тут</textarea>
	
	<button type="submit" class="btn btn-primary">Отправляем</button>
</form>